// ===== Components =====
// Styles for unique components

// === Background ===
// A container for the background image
.section-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url(/images/austin-360-bridge.jpg);
    background-size: cover;
    opacity: .333;
    filter: grayscale(1);
    mix-blend-mode: multiply;
    background-position: center;
}


// === Footer ===
// Footer Component
.section-footer {
    position: relative; // Relative for the .section-portrait absolute positioning
    display:flex;
    align-items: center;
    min-height: 100vh;
}


// === Header ===
// Header Component
.section-header {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    // background-color: rgba($secondary, 0.95);
    // border-bottom: 1px solid $primary;
    // @extend .shadow !optional;
    @extend .bg-gradient !optional;

    .logo {
        width: 6rem;
        margin-right: 1rem;
        transition: $transition-base;

        &:hover, &:focus {
            filter: grayscale(1);
            mix-blend-mode: luminosity;
        }
    }

    @include media-breakpoint-up(md) {
        flex-direction: row; // Horizontal layout for larger screens
        padding: 2rem;

        .logo {
            width: 9rem;
        }
    }
}


// === Portrait ===
.section-portrait {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: auto;
    mix-blend-mode: overlay;
    opacity: .5;

    @include media-breakpoint-up(lg) {
        width: auto;
        height: 100%; // Fill full height of container (section-footer)
    }
}