// ===== Utilities =====
// Styles for common utility functionality

// Animations

.animation-breathe {
    animation: breathe 30s ease-in-out infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}


// Filters

.filter-grayscale {
    filter: grayscale(1);
}


// Mix Blend Modes

.mix-blend-mode-luminosity {
    mix-blend-mode: luminosity;
}